<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="container">
      <div class="main-nav"></div>
      <div class="left-container">
        <div class="banner"></div>
        <div class="content-container">
          <div class="content-container__content1"></div>
          <div class="content-container__content2"></div>
        </div>
        <div class="content3"></div>
      </div>
      <div class="right-container">
        <div class="minor-header-container">
          <div class="minor-header"></div>
          <div class="minor-header-logo"></div>
        </div>
        <div class="minor-nav"></div>
        <div class="aside-container">
          <div class="aside-container__aside1"></div>
          <div class="aside-container__aside2"></div>
          <div class="aside-container__aside3"></div>
        </div>
        <div class="minor-footer"></div>
      </div>

      <div class="main-footer"></div>

    </div>
  </body>

</html>