* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  /* height: 100vh; */
  background-color: #a9a9a9;
  flex-wrap: wrap;
  width: 100%;
}

div {
  border: 1px solid white;
  margin: 0.5%;
}

.header {
  width: 100%;
  background-color: #fabed4;
  width: 100%;
  height: 5vh;
}

.left-container {
  width: 59%;
  background-color: #3FD6A6;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.left-container__top {
  width: 100%;
  height: 50%;
  background-color: #f032e6;
}

.left__item2 {
  width: 50%;
  height: 18%;
}

.left__item3 {
  width: 50%;
  height: 28%;
}

.left__item4 {
  width: 47%;
  height: 50%;
}

.right-container {
  width: 39%;
  height: 80vh;
  background-color: black;
}

.footer {
  width: 100%;
  height: 5vh;
  background-color: #800000;
}