@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&family=Source+Code+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Source Code Pro", monospace;
}

:root {
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #f4623a;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --primary: #f4623a;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 16px 24px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 48px;
  cursor: pointer;
}

.btn--orange {
  color: white;
  background-color: var(--orange);
}

.btn--white {
  color: black;
  background-color: #fff;
}

.divider {
  height: 3px;
  width: 60px;
  z-index: 100;
  border-radius: 5px;
  border: none;
  margin: 24px 0;
}

.divider--orange {
  background-color: var(--orange);
}

.divider--white {
  background-color: #fff;
}

.navbar {
  width: 100%;
  height: 72px;
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 60px;
  z-index: 100;
}

.navbar__logo {
  height: 100%;
  /* background-color: #000; */
  color: black;
  font-weight: bold;
  font-size: 24px;
  width: auto;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo:hover {
  color: var(--orange);
  cursor: pointer;
}

.navbar__menu {
  width: 30%;
  height: 100%;
}

.navbar__menu ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.navbar__menu ul li {
  list-style-type: none;
}

.navbar__menu ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar__menu ul li a:hover {
  color: var(--orange);
}

#masterhead {
  width: 100%;
  margin-top: 72px;
  height: 780px;
  background-color: #999;
  background-image: url(./img/bg-masthead.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.masterhead__cover {
  position: absolute;
  background-color: var(--gray-700);
  opacity: 0.7;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.heading--main {
  color: white;
  font-size: 40px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  z-index: 2;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  width: 50%;
  text-align: center;
}

.heading--fontwhite {
  color: white;
}

.heading--fontblack {
  color: black;
}

.desc {
  color: var(--gray-200);
  width: 60%;
  font-size: 24px;
  text-align: center;
  z-index: 2;
}

.desc--boldgray {
  color: var(--gray-600);
}

.masterhead__btn {
  z-index: 2;
}

#about {
  width: 100%;
  height: 478px;
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__heading {
  width: 50%;
  text-align: center;
}

.about__desc {
  width: 60%;
  text-align: center;
}

#services {
  width: 100%;
  height: 546px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-container {
  margin-top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.list-item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-item i {
  color: var(--orange);
  font-size: 44px;
}

.list__heading {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 8px 0;
}

.list__desc {
  text-align: center;
}

#portfolio {
  width: 100%;
  height: 512px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc(100% / 3);
  height: 50%;
  position: relative;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
}

.portfolio-item:hover .item-cover {
  display: flex;
}

.item-cover {
  /* display: none; */
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-color: rgba(244, 98, 58, 0.9);
}

.item-cover__cate {
  text-transform: uppercase;
  color: var(--gray-300);
  font-weight: bold;
}

.item-cover__heading {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

#download {
  width: 100%;
  height: 378px;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact {
  width: 100%;
  height: 1020px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contact form {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contact form input,
textarea {
  width: 40%;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.submit-btn {
  width: 40%;
  padding: 16px 24px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.contact__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.contact__phone i {
  font-size: 35px;
  margin-bottom: 10px;
}

#footer {
  width: 100%;
  height: 120px;
  background-color: var(--gray-200);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 576px) {
}

@media (576px <= width < 768px) {
}

@media (768px <= width < 992px) {
}

@media (992px <= width < 1200px) {
}

@media (1200px <= width < 1400px) {
}

@media (width >= 1400px) {
}
